<div class="container">
  <div class="content-box">
    <div class="top-area">
      <div class="quote-box" *ngIf="value">
        <div class="quote">
          <h3>{{value.quote}}</h3>
        </div>
        <div class="quote-author">
          <p>- {{value.author}}</p>
        </div>
      </div>
    </div>
    <div class="bottom-area">
      <div class="line"></div>
      <div class="tools">
        <button class="btn" (click)="generateQuote()">New Quote</button>
      </div>
    </div>
  </div>
</div>